<%- include('layout/header') %>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <button id="downloadBtn" type="button" class="btn btn-success">Download Image</button><br>
            <img src="../images/squad.jpg" alt="squad">
        </div>
    </div>
</div>

<script>
    document.getElementById('downloadBtn').addEventListener('click', function () {
        window.location.href = '/download';
    });
</script>
<%- include('layout/footer') %>